.candidates {
  margin: 1rem auto;

  &-txt {
    margin-top: 1rem;
    margin-bottom: 4rem;

    h2 {
      font-weight: bold;
      margin-bottom: .25rem;
      font-size: 1.75rem;
    }

    p {
      font-size: 1.35rem;
      line-height: 1;
    }

    &-lg {
      margin: 1rem 0;

      &-button {
        font-family: $font-family-headings;
        text-transform: uppercase;
        font-size: 4rem;
        margin-top: -1.75rem;

        a {
          &:hover {
            color: $gray-800;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-img {
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;

    &-wrapper {
      display: block;
      color: $gray-800;

      &:hover {
        opacity: .75;
      }

      &:active {
        color: $gray-800;
      }
    }

    &-monica {
      background-image:  url('../images/candidates/monica-oltra.jpg');
      background-position: right top;
    }

    &-baldo {
      background-image:  url('../images/candidates/joan-baldovi.jpg');
      background-position: right top;
    }

    &-natxo {
      background-image:  url('../images/candidates/natxo.jpg');
      background-position: center;
    }

    &-ignasi {
      background-image:  url('../images/candidates/ignasi.jpg');
      background-position: center;
    }
  }

  &-all {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-up(lg) {
  .candidates {
    margin: 3rem auto;

    &-imgs {
      display: flex;
      flex-direction: row;

      a {
        padding: 1rem;
      }
    }

    &-img {
      height: 60vh;
      max-height: 600px;
      margin-bottom: 0;

      &-wrapper {
        width: 25%;
        transition: 1s ease-in-out;

        &-jordi {
          width: 100%;
        }

        &.focused {
          width: 28%;
        }
      }
    }

    &-txt {

      &-lg {
        position: relative;
        display: flex;
        flex-direction: column;
        text-justify: end;

        h2 {
          font-weight: bold;
          margin-bottom: 0;
        }

        p {
          font-size: 1.35rem;
          margin-bottom: 0;
        }

        &-names {
          a {
            color: $gray-800;

            &:hover {
              text-decoration: none;
            }
          }
        }

        &-name {
          position: absolute;
          bottom: 0;
          left: 1rem;
          transition: .25s ease-in-out;
          opacity: 0;

          &.focused {
            z-index: 10;
            opacity: 1;
          }
        }

        &-button {
          font-size: 6rem;
        }
      }
    }
  }
}