.candidate-page {
  .candidate-header {
    color: $orange;
    margin-bottom: 1rem;
  }

  .candidate-photo {
    margin-bottom: 1rem;
    max-height: 450px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .candidate-name {
    h3 {
      font-weight: bold;
      margin-bottom: 0;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .candidate-letter {
    max-width: 600px;
    line-height: 2;
  }

  .candidate-signature {
    width: 150px;
  }

  .embed-responsive {
    margin: 1rem 0;
  }
}

.candidate-social {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-block;
      padding: .25rem .75rem;
      border-radius: .25rem;
      margin-bottom: .5rem;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .facebook a {
    background: #3b5998;

    &:hover {
      background: darken(#3b5998, 20%);
    }
  }

  .twitter a {
    background: #38A1F3;

    &:hover {
      background: darken(#38A1F3, 20%);
    }
  }

  .instagram a {
    background: #e1306c;

    &:hover {
      background: darken(#e1306c, 20%);
    }
  }
}

.europe-website {
  display: block;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
  color: $white;
  background-image: repeating-radial-gradient(circle farthest-corner at right bottom,#53b2ac 0,#a4c852 23.9%,#ed9444 54.2%,#d93c67 77.9%,#bc5b9c 100%);
  background-size: 600%;
  animation: EuroBackground 60s ease infinite;
  transition: .25s ease-in-out;
  border-radius: .25rem;

  span {
    opacity: 0;
    transition: .25s ease-in-out;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    opacity: .75;

    span {
      opacity: 1;
    }
  }
}

@include media-breakpoint-up(md) {
  .candidate-page {
    .candidate-photo {
      max-height: none;
    }
  }
}

@keyframes EuroBackground { 
  0% {
    background-position: 0% 50%;
  }

  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}