.candidate-list {
  h3 {
    font-weight: bold;
    font-size: 1.35rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.15rem;
  }

  &-header {
    margin-bottom: 1rem;
  }

  &-title {
    color: $orange;
  }

  &-item {
    display: block;
    color: $gray-800;
    margin-bottom: 3rem;

    &-lg {
      .candidate-list-item-name {
        h3 {
          font-size: 1.75rem;
        }

        p {
          font-size: 1.35rem;
        }
      }
      .candidate-list-item-image {
        height: 420px;
      }
    }

    &-image {
      margin-bottom: 1rem;
      overflow: hidden;
      height: 230px;
      transition: .25s ease-in-out;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  a.candidate-list-item:hover {
    color: $gray-800;
    text-decoration: none;

    .candidate-list-item-image {
      opacity: .75;
    }
  }
}

@include media-breakpoint-up(lg) {
  .candidates-list {

  }
}