.candidate-page {
  .candidate-header {
    color: $orange;
    margin-bottom: 1rem;
  }

  .candidate-photo {
    margin-bottom: 1rem;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .candidate-name {
    h3 {
      font-weight: bold;
      margin-bottom: 0;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .candidate-letter {
    max-width: 600px;
    line-height: 2;
  }

  .candidate-signature {
    width: 150px;
  }

  .embed-responsive {
    margin: 1rem 0;
  }
}

.candidate-social {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-block;
      padding: .25rem .75rem;
      border-radius: .25rem;
      margin-bottom: .5rem;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .facebook a {
    background: #3b5998;

    &:hover {
      background: darken(#3b5998, 20%);
    }
  }

  .twitter a {
    background: #38A1F3;

    &:hover {
      background: darken(#38A1F3, 20%);
    }
  }

  .instagram a {
    background: #e1306c;

    &:hover {
      background: darken(#e1306c, 20%);
    }
  }
}

.europe-block {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 2rem;
  color: $white;
  transition: .25s ease-in-out;
  border-radius: .25rem;
  line-height: 1;
  margin-bottom: 1rem;

  span {
    opacity: 0;
    transition: .25s ease-in-out;
  }

  &:hover {
    color: $white;
    text-decoration: none;
    opacity: .75;

    span {
      opacity: 1;
    }
  }

  &--website {
    background-image: $europa-gradient;
    background-size: 600%;
    animation: EuroBackground 60s ease infinite;  
  }

  &--programa {
    background: #003399;
  }

  &--volemsaber {
    background-color: $orange;
    background-size: 600%;
  }
}

.candidate-header {
  &-link {
    margin-top: 1rem;

    a {
      color: $white;
    }
  }

  &--europe {
    background-image: $europa-gradient;
    background-size: 600%;
    animation: EuroBackground 60s ease infinite;
    color: $white;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .candidate-page {
    .candidate-photo {
      max-height: none;
    }
  }

  .candidate-header {
    .container {
      position: relative;
    }

    &-link {
      position: absolute;
      top: 4rem;
      right: 0;

      a {
        display: inline-block;
        border: 1px $white solid;
        padding: .5rem .75rem;
        transition: .25s ease-in-out;
        border-radius: .25rem;

        &:hover {
          background: $white;
          color: #000;
          text-decoration: none;
          mix-blend-mode: lighten;
        }
      }
    }

    &--europe {
      text-align: left;

      .container {
        padding: 4rem 1rem 9rem;
      }
    }
  }

  .jordi-sebastia {
    background: $white;
    padding: 1rem;
    margin-top: -6rem;
  }

  .europe-block {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@keyframes EuroBackground { 
  0% {
    background-position: 0% 50%;
  }

  50% { 
    background-position: 100% 50%;
  }

  100% { 
    background-position: 0% 50%;
  }
}