.local-sites {
  padding: 0 0 3rem;

  h2 {
    font-family: $font-family-headings;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: -1.75rem;
    letter-spacing: -1px;
  }

  &-filter {
    position: relative;

    input {
      width: 100%;
      font-size: 4rem;
      font-family: $font-family-headings;
      text-transform: uppercase;
      color: $orange;
      border: 0;
      border-bottom: 2px $gray-400 solid;
      outline: 0;
      transition: .25s ease-in-out;
      letter-spacing: -1px;
      padding-left: 4rem;

      &:focus {
        border-bottom-color: $orange;
      }

      &::placeholder {
        color: $gray-500;
      }
    }

    &:focus-within {
      .local-sites-filter-icon {
        color: $orange;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      top: 1rem;
      left: 0;
      color: $gray-500;
      font-size: 3rem;
    }
  }

  &-list {
    ul {
      margin: 1rem 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 0 1rem 1rem 0;
    }

    a {
      display: block;
      color: $orange;
      padding: .5rem 1rem;
      transition: .25s ease-in-out;
      border: 2px $orange solid;
      background: $white;

      &:hover {
        background: $orange;
        color: $white;
        text-decoration: none;
      }
    }

    &--compact {
      position: relative;
      min-height: 2rem;
      max-height: 16rem;
      overflow: hidden;

      .local-sites-more {
        content: '';
        cursor: pointer;
        display: block;
        position: absolute;
        background: linear-gradient(to top, $white, rgba($white, 0));
        top: 50%;
        right: 0;
        left: 0;
        bottom: 0;

        &:hover {
          background: linear-gradient(to top, $white 10%, rgba($white, 0));
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .local-sites {
    padding-top: 0;

    h2 {
      font-size: 4rem;
    }

    &-list--compact {
      min-height: 2rem;
      max-height: 24rem;
    }
  }
}