.programa {
  padding-top: 3rem;

  h2 {
    a {
      color: $gray-800;

      &:hover {
        color: $black;
      }
    }
  }

  &-nav {
    h2 {
      font-weight: bold;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      width: 100%;
      flex-shrink: 0;
    }

    .programa-sections {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 300px;
    }

    .programa-block {
      background: $white;
      font-size: 1.1rem;
      color: $orange;
      padding: .25rem .75rem;
      margin: 0 .5rem .5rem 0;
      white-space: nowrap;
      border: 1px $orange solid;
      transition: .25s ease-in-out;

      &:hover {
        background: $orange;
        color: $white;
        text-decoration: none;
      }

      @each $id, $colors in $programa {
        &.#{$id} {
          color: map-get($colors, 'background');
          border-color: map-get($colors, 'background');

          &:hover {
            background-color: map-get($colors, 'background');
            color: $white;
            border-color: map-get($colors, 'background');
          }
        }
      }
    }

    .programa-category {
      width: 100%;
      font-size: 1rem;
      color: $gray-600;
      flex-shrink: 0;
    }
  }

  &-content {
    position: relative;
    z-index: 10;

    h2 {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    h3 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 2rem;
    }

    .programa-block {
      display: block;
      font-family: $font-family-headings;
      font-size: 3rem;
      text-transform: uppercase;
      line-height: 1;
      padding: 1rem;
      margin: 0 1rem 1rem 0;
      min-height: 7rem;
      background: $gray-200;
      color: $white;
      border: .25rem $gray-200 solid;
      -webkit-box-decoration-break: clone;
      transition: .25s ease-in-out;

      &:hover {
        text-decoration: none;
      }

      span {
        position: relative;
        top: -.25rem;
      }

      @each $id, $colors in $programa {
        &.#{$id} {
          background-color: transparent;
          color: map-get($colors, 'background');
          border-color: map-get($colors, 'background');

          &:hover {
            background-color: map-get($colors, 'background');
            color: $white;
            border-color: map-get($colors, 'background');
          }
        }
      }

      &.tracte-just {
        font-size: 5rem;
      }
    }
  }

  &-breadcrumbs {
    font-size: 1.25rem;
    color: $gray-600;
    font-weight: normal !important;
  }

  &-box {
    background: $gray-100;
    padding: 1rem;
    margin: 2rem 0;
    border-left: .5rem $orange solid;
    max-width: 800px;

    h4 {
      font-weight: bold;
      color: $orange;
      margin-bottom: 1.5rem;

      em {
        color: $gray-600;
        font-weight: normal;
        font-style: normal;
      }
    }

    ul,
    ol {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-left: 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px $gray-300 solid;

        &:last-child {
          border-bottom: 0;
          margin-bottom: 0;
        }

        p {
          margin: 0;
        }
      }
    }

    ol {
      counter-reset: programa-counter;

      li {
        position: relative;
        counter-increment: programa-counter;

        &::before {
          content: counter(programa-counter);
          position: absolute;
          top: 0;
          left: 0;
          font-weight: bold;
          color: $orange;
          font-size: 1.5rem;
        }
      }
    }

    ul {
      li {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          display: block;
          top: .5rem;
          left: 0;
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          background: $orange;
        }
      }
    }
  }

  &-background {
    display: block;
    font-family: $font-family-headings;
    color: $gray-200;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: .8;
    position: absolute;
    top: 0;
    left: 13rem;
    z-index: -1;
  }

  &-category {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: $gray-800;

    &.serveis-socials,
    &.canvi-climatic,
    &.drets-ciutadania {
      display: block;
    }
  }

  &-intro {
    font-size: 1.5rem;

    p {
      margin-bottom: 1.5rem;
    }
  }

  &-frontpage {
    .programa-background {
      left: 0;
    }

    .programa-download {
      border-top: 0;
    }
  }

  &-download {
    margin: 2rem 0;
    padding: 2rem 0;
    list-style: none;
    border-top: 1px $gray-300 solid;
    border-bottom: 1px $gray-300 solid;
    color: $gray-500;

    a {
      color: $gray-700;
    }
  }

  /* Color-coded sections */
  @each $id, $colors in $programa {
    .#{$id} {
      .programa-intro {
        color: map-get($colors, 'background');
      }

      .programa-box {
        border-color: map-get($colors, 'background');
    
        h4 {
          color: map-get($colors, 'background');
        }

        ol li::before {
          color: rgba(map-get($colors, 'background'), .5);
        }

        ul li::before {
          background: rgba(map-get($colors, 'background'), .5);
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .programa {
    &-nav {
      order: 1;
    }

    &-content {
      order: 2;

      h3 {
        font-size: 6rem;
      }
    }

    &-breadcrumbs {
      font-size: 1.5rem;
    }

    &-box {
      padding: 2rem;
    }

    &-background {
      padding-top: 4rem;
      font-size: 15rem;
    }

    &-content {
      .programa-block {
        display: inline-block;
        padding-right: 4rem;

        &.tracte-just {
          width: 70%;
          font-size: 7rem;
          padding-bottom: 2rem;
        }
      }
    }

    &-download {
      max-width: 300px;
    }

    &-frontpage {
      .programa-download {
        padding-top: 32rem;
        border-bottom: 0;

        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}